h1 {color:red; text-align: center;}
p {color:whitesmoke}
body {background-color: black;}
form {color:cornflowerblue;}
form {text-align:center;}
/*
div.randomPerson {
    float: left;
    padding-left:20%;
}
div.stats {
    float: right;
    padding-right:20%
}
.center {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.rightform {
    margin: 0;  
    position: absolute;
    top: 20%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
*/

.wrapper {
    display:grid; 
    grid-template-columns:repeat(4, 4fr);
    grid-gap:5px; 
}

.wrapper > div {
    background:black;
    border-style:solid;
    border-color:darkblue;
    border-width: 5px;
    color: whitesmoke
}

.button {
    align-self: center;
    justify-self: center;
    grid-row:1;
    grid-column:1;
}

.attribute[type=text] {
    width: 20px;
    font-size: 16px;
    padding: 8px;
}


.stats {
    column-count: 2;
    grid-column: 1;
}